* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*  */
.relative {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: contents;
}

/* pill component */
.pill {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
}

.rounded-full {
  border-radius: 50%;
}

/* modal  */

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: popup 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modal-card {
  overflow: hidden;
  width: calc(100% - 10rem);
  max-width: 750px;
  width: 736px;
  min-width: 736px;
  min-height: 356px;
}

/*  */

.box {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 1px solid rgb(0, 0, 0);
  width: 12rem;
  height: 13rem;
  position: relative;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.box img {
  object-fit: contain;
  width: 100%;
  height: 5rem;
  top: 0;
  scroll-margin: 2rem;
}

.box:hover {
  transform: scale(1.3);
  height: 15rem;
}

.slick-slide > div {
  margin: 0 10px;
  display: flex;
  justify-content: center;
}
.slick-list {
  margin: 0 -10px;
}

h5 {
  font-size: 10px;
}

.box-hidden {
  display: none;
}
.sahi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 10px;
}

.relatives {
  display: block;
  position: relative;
  display: contents;
  border-radius: 7px;
}

.boxer {
  margin-left: 1rem;
  margin-right: 1rem;
}

.test {
  border-radius: 10px;
}

.modal-card-wrap {
  border-radius: 10px;
  background-color: white;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container {
  padding: 2rem;
}
.submit-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
}

.cross {
  background: rgb(201, 212, 228);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}
.icon-Close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-Close img {
  width: 20px;
  height: 20px;
}
.icon-holder {
  padding: 10px;
  cursor: pointer;
  width: fit-content;
}

.icon-holder-parent {
  display: flex;
  justify-content: end;
}

.form-submitbtn {
  width: 100%;
  padding: 1rem;
  background-color: black;
  color: white;
}

/* modal Slider */
.modal-slider {
  padding: 10px;
}

.modalsliderparent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
  gap: 10px;
  /* background-color: black; */
}
.SliderChildren {
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  background-color: blanchedalmond;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  */
.main-slider-container {
  width: 100%;
  height: 250px;
  background-color: gray;
  /* position: relative; */
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.slider {
  height: 100%;
  width: 100%;
  margin: 1rem;
}
.slider-icon {
  background-color: white;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: 0;
}

.slider-card {
  width: 320px;
  height: 210px;
  background-color: black;
  color: aliceblue;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
#slider {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider::-webkit-scrollbar {
  display: none;
}

.slider-parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: end;
}

/* zdfghjkl;' */
.tooltip {
  position: absolute;
  /* display: inline-block; */
  border-bottom: 1px dotted black;
  min-height: 40vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  animation: popup 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* bottom: 300px; */
}
.smbox {
  position: absolute;
  min-height: 10vh;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #555;
  z-index: 1;
}

.grand-parent {
  position: fixed;
  width: 100%;
}

.increase {
  height: 70vh;
  animation: height-increase 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}

.slider-card-w {
  width: 95%;
}

@keyframes height-increase {
  0% {
    /* transform: scale(1); */
    height: 30vh;
  }
  80% {
    /* transform: scale(1.2); */
    height: 75vh;
  }
  100% {
    transform: scale(1);
    height: 70vh;
  }
}
