@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
#app {
  z-index: 2147483647;
}
a {
  color: black;
  font-family: inherit;
  text-decoration: none;
}

/*  */
.relative {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: contents;
}

/* pill component */
.pill {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: #3e6ff0;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  bottom: 48px;
  right: 60px;
}
.pill h5 {
  font-weight: lighter;
}

.rounded-full {
  border-radius: 50%;
}

/* modal  */

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: popup 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modal-card {
  overflow: hidden;
}

/*  */

.box {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 1px solid rgb(0, 0, 0);
  width: 12rem;
  height: 13rem;
  position: relative;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.box img {
  object-fit: contain;
  width: 100%;
  height: 5rem;
  top: 0;
  scroll-margin: 2rem;
}

.box:hover {
  transform: scale(1.3);
  height: 15rem;
}

.slick-slide > div {
  margin: 0 10px;
  display: flex;
  justify-content: center;
}
.slick-list {
  margin: 0 -10px;
}

h5 {
  font-size: 10px;
}

.box-hidden {
  display: none;
}
.sahi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 10px;
}

.relatives {
  display: block;
  position: relative;
  display: contents;
  border-radius: 7px;
}

.boxer {
  margin-left: 1rem;
  margin-right: 1rem;
}

.test {
  border-radius: 10px;
}

.modal-card-wrap {
  border-radius: 10px;
  background-color: white;
  width: 532px;
  min-height: 100%;
  padding: 2rem;
}

.plugin-select {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;

  border: 0.3px solid #e2e2e2;
  border-radius: 4px;
  text-indent: 5px;
}

select:last-child {
  margin-bottom: 20px;
}

select option {
  font-family: "Mulish", sans-serif;
  border: 1px solid black;
}

.form-container {
  max-height: 500px;
  /* min-height: 430px; */
}

form h4 {
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  font-size: 14px;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 20px;
  /* min-height: 28px; */
}

.submit-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-weight: bolder;
}
.icon-Close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-Close img {
  width: 20px;
  height: 20px;
}
.icon-holder {
  cursor: pointer;
  width: fit-content;
}

.icon-holder-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.form-submitbtn {
  width: 100%;
  padding: 12px;
  background-color: #3e6ff0;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* modal Slider */
.modal-slider {
  padding: 10px;
}

.modalsliderparent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: calc(600px - 8.2rem);
  overflow: hidden;
  overflow-y: scroll;
  gap: 10px;
  /* background-color: black; */
}
.SliderChildren {
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  background-color: blanchedalmond;
}

.modalsliderparent-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  */
.main-slider-container {
  width: 100%;
  height: 250px;
  background-color: white;

  /* position: relative; */
  display: flex;
  align-items: center;
  /* margin: 90%; */
}
.slider {
  height: 100%;
  width: 100%;
  margin: 1rem;
}
.slider-icon {
  background-color: #6b7280;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.slider-icon.left {
  left: 10px;
}

.slider-icon.right {
  right: 10px;
}

.slider-card {
  /* width: 320px;
  height: 210px; */
  /* background-color: black; */
  /* color: aliceblue; */
  display: inline-block;
  margin: 10px;
  /* border-radius: 10px; */
  background-color: white;
  /* background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  position: relative;
}
#slider {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider::-webkit-scrollbar {
  display: none;
}

.slider-parent {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: end;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  padding: 32px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

/* zdfghjkl;' */
.tooltip {
  position: absolute;
  /* display: inline-block; */
  border-bottom: 1px dotted black;
  min-height: 40vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  animation: popup 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* bottom: 300px; */
}
.smbox {
  position: absolute;
  min-height: 10vh;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #555;
  z-index: 1;
}

.grand-parent {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 2rem;
  z-index: 10;
}

.increase {
  height: 70vh;
  animation: height-increase 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}

.slider-card-w {
  width: 95%;
}

@keyframes height-increase {
  0% {
    /* transform: scale(1); */
    height: 30vh;
  }
  80% {
    /* transform: scale(1.2); */
    height: 75vh;
  }
  100% {
    transform: scale(1);
    height: 70vh;
  }
}

.error {
  color: red;
}

.selecterror {
  border: 1px solid red;
}

.product-container {
  height: 236px;
  width: 226px;
  padding: 2px;
  padding-bottom: 12px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
}

.product-container img {
  width: 100%;
}

.product-container h2 {
  font-size: 12px;
  padding: 12px;
  font-weight: bolder;
}

.product-container-img {
  height: 174px;
  /* padding: 2px; */
}

.large-container {
  min-width: 250px;

  height: 328px;
  border: 1px solid #e2e2e2;
  padding: 2px;
  border-radius: 4px;
}

.large-container-img {
  height: 174px;
  /* padding: 2px; */
  padding-bottom: 10px;
}

.large-container-title {
  padding: 12px;
  padding-bottom: 8px;
}

.large-container-price {
  padding: 1rem;
  /*  */
}

.large-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-container button {
  margin-bottom: 24px;
}

.crossicon button,
.maximize button {
  background: transparent;
  border: none;
}

.slider-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-buttons {
  display: flex;
}

.slider-content {
  padding-bottom: 1.5rem;
}

.slider-content h2 {
  padding-left: 10px;
}

.crossicon {
  margin-left: 20px;
}

.slider-buttons img {
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .pill {
    width: 40px;
    height: 40px;
  }
  .modal {
    animation: none;
  }
}

@media only screen and (max-width: 585px) {
  .modal-card-wrap {
    width: 320px;
    padding: 20px;
  }
  .icon-holder-parent h3 {
    font-size: 1rem;
  }
  form h4 {
    font-size: 12px;
    padding-bottom: 6px;
  }

  select {
    font-size: 12px;
    color: #64748b;
    margin-bottom: 0;
  }
  .form-submitbtn {
    margin-top: 1rem;
    font-size: 14px;
  }
  .modalsliderparent {
    max-height: calc(430px - 8.2rem);
  }
  .product-container {
    width: 136px;
    height: 146px;
  }
  .product-container-img {
    width: 132px;
    height: 100px;
    object-fit: cover;
  }
  .product-container h2 {
    padding-top: 4px;
    padding: 8px;
    font-size: 10px;
  }
  .main-slider-container {
    height: auto;
  }
  .slider-content h2 {
    font-size: 16px;
  }
  .slider-buttons {
    height: 16px;
  }
  .slider-buttons img {
    width: 16px;
  }
  .slider-content {
    padding-bottom: 1rem;
  }
  .slider-grid {
    grid-template-columns: 1fr 1fr;
  }
  .large-container {
    min-width: 148px;
    max-height: 242px;
  }
  .slider-parent {
    padding: 16px;
  }
  .large-container-img {
    height: 100px;
    padding: 0;
  }
  .large-container-text {
    /* padding: 10px; */
    padding-top: 0px;
  }
  .large-container-title {
    padding: 8px;
    font-size: 10px;
  }
  .large-container-price {
    font-size: 10px;
  }
  .large-container button {
    padding: 4px 34px;
    font-size: 10px;
  }
  .slider-card {
    margin: 0px;
  }
}
